<link rel="stylesheet" href="misEstilos/busquedaHabitacion.css">




<h1>Habitaciones Disponibles </h1>


<form action="/seleccionHabitaciones" method="GET">
    <br>
    <br>
    <% for(var i=0; i<habitaciones.length; i++) {%>
        <div class="row">

            <div class="col-sm-4">
                <% if (habitaciones[i].tipo=="simple") {%>
                    <img src="/fotos/habitacionSimple1.jpg" alt="Habitacion Simple Economica" class="imagenes">

                    <%}%>
                        <% if (habitaciones[i].tipo=="doble") {%>
                            <img src="/fotos/habitacionDoble.jpg" alt="Habitacion Simple Economica" class="imagenes">

                            <%}%>
                                <% if (habitaciones[i].tipo=="triple") {%>
                                    <img src="/fotos/habitacionTriple.jpg" alt="Habitacion Simple Economica" class="imagenes">

                                    <%}%>
            </div>
            <div class="col-sm-4">
                <br>
                <br>
                <br>
                <h3 style="color:black">Tipo de habitación: <%= habitaciones[i].tipo%></h3>
                <h3 style="color:black">Codigo de la Habitación: <%= habitaciones[i].codigo%></h3>
                <h3 style="color:black">Precio: <%= habitaciones[i].precio%></h3>
                <h3 style="color:black">Piso: <%= habitaciones[i].piso%></h3>

            </div>

            <div class="col-sm-4">
                <br>
                <br>
                <br>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" name="id" value="<%= habitaciones[i].id%>"> Selecciona!
                    </label>
                </div>
            </div>
        </div>

        <% }%>


            <br>

            <center>

                <button type="submit" class="btn btn-success btn-lg">Continuar con la reserva </button>
<!--                <input class="btn-checkout" type="submit" value="Secure Checkout" id="submitBtn" disabled="disabled"/>-->
            </center>
</form>


<script>
    function seleccion(id) {

        console.log(id);
        document.getElementById(id).style.backgroundColor = "brown";
        //                                document.getElementById("dos").style.backgroundColor = "#DBA901";
        //                                document.getElementById("tres").style.backgroundColor = "#DBA901";
    }

    function seleccion2() {
        document.getElementById("dos").style.backgroundColor = "brown";
        document.getElementById("uno").style.backgroundColor = "#DBA901";
        document.getElementById("tres").style.backgroundColor = "#DBA901";
    }

    function seleccion3() {
        document.getElementById("tres").style.backgroundColor = "brown";
        document.getElementById("uno").style.backgroundColor = "#DBA901";
        document.getElementById("dos").style.backgroundColor = "#DBA901";
    }
</script>


<script>
    $('form').submit(function(e) {
        if ($('input[type=checkbox]:checked').length === 0) {
            e.preventDefault();
            
            alert("Debe seleccionar al menos una habitacion!");
             
        }
    });
</script>