<link rel="stylesheet" href="misEstilos/busquedaHabitacion.css">

<h1>Habitaciones Disponibles </h1>


<form action="/" method="GET">
    <br>
    <br>
    <% for(var i=0; i<reservas.length; i++) {%>
        <div class="row">

            <div class="col-sm-2">
                <h3>Reserva: <%=i%></h3>
                
            </div>
            <div class="col-sm-8">
                <br>
                <br>
                <br>
                <h3 style="color:black">Fecha Inicio de la Reserva<%= reservas[i].fechaInicioReserva%></h3>
                <h3 style="color:black">Fecha Fin de la Reserva<%= reservas[i].fechaFinReserva%></h3>
                <h3 style="color:black">Número de huespede <%= reservas[i].numeroHuespedes%></h3>
                <h3 style="color:black">Id del Usario<%= reservas[i].idUsuario%></h3>
                <h3 style="color:black">Id de habitaciones<%= reservas[i].idHabitacion%></h3>

            </div>

            <div class="col-sm-2">
                <br>
                <br>
                <br>
                <div class="checkbox">
                    
                </div>
            </div>
        </div>

        <% }%>


            <br>
<!--
         
-->
            <center>

                <button type="submit" class="btn btn-success btn-lg">Inicio</button>
                <!--                <input class="btn-checkout" type="submit" value="Secure Checkout" id="submitBtn" disabled="disabled"/>-->
            </center>
</form>
